<table>
 <tr><td>Version:</td><td><%= @version %></td></tr>
 <tr><td>Favorite Cookie:</td><td><%= @not_readable_purpose_checking_on %></td></tr>
</table>

<p>
	<b>Note:</b>
	Favorite Cookie will not load since it has been written with <b>use_cookies_with_metadata = true</b>, due to which purposes don't match on verification and returns a nil.
</p>